<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Cars at the service</h1>
</div>
<div class="mb-3">
    <a class="btn btn-primary" [routerLink]="['/caratservice/new']">
        Add New
    </a>
</div>
<div class="mb-3">
    <select class="me-2" name="workStarted" id="workStarted" (change)="setWorkStarted($event.target)">
        <option value="0">work not started</option>
        <option value="1">work started</option>
        <option selected value="2">All</option>
    </select>
    <select name="sortCarBy" id="sortBy" (change)="setSortCarBy($event.target)">
        <option selected value="0">newly arrived</option>
        <option value="1">lowest duration</option>
        <option value="2">lowest complexity</option>
    </select>
</div>
<div class="card">
    <div class="card-body">
        <app-cars-at-service-list [workStarted]="workStarted" [sortCarsBy]="sortCarsBy" />
    </div>
</div>