<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@if(editMode === importedEditModeEnum.addNew){New Contact} @else {Edit Contact}</h1>
</div>
<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" maxlength="20"
                    formControlName="name">
            </div>
            <div class="mb-3">
                <label for="surname" class="form-label">Surname</label>
                <input type="text" class="form-control" id="surname" placeholder="Surname" maxlength="20"
                    formControlName="surname">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" placeholder="Phone" maxlength="20"
                    formControlName="phone">
            </div>
            <button type="submit" class="btn btn-primary btn-sm me-2" [disabled]="!form.valid">Save</button>
            <a class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</a>
        </form>
    </div>
</div>