################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Garage/.vs

# Visual Studio Code
.vscode/*


# Visual Studio
.vs/*
.vs/Garage/DesignTimeBuild/.dtbcache.v2
.vs/Garage/v17/.futdcache.v2
.vs/Garage/v17/.suo
.vs/Garage/v17/DocumentLayout.json
.vs/ProjectEvaluation/garage.metadata.v7.bin
.vs/ProjectEvaluation/garage.projects.v7.bin
