<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Car service history</h1>
</div>
<div class="row row-cols-md-2">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Car:</h5>
                <ng-container *ngIf="(loading$ | async) else carDetails">
                    <div class="spinner-border" role="status">
                    </div>
                </ng-container>
                <ng-template #carDetails>
                    @if(carHistory$ | async; as carHistory){

                    @if(carHistory.length>0){

                    <div class="card-text ms-3">
                        <b>Brand-Model-Year:</b> {{carHistory[0].car?.brandModelYear ? carHistory[0].car?.brandModelYear
                        : "no data"}}
                    </div>
                    <div class="card-text ms-3">
                        <b>Vehicle Id Number:</b> {{carHistory[0].car?.vehicleIdNumber ?
                        carHistory[0].car?.vehicleIdNumber : "no data"}}
                    </div>
                    <div class="card-text ms-3">
                        <b>Licence Plate:</b> {{carHistory[0].car?.licensePlate ? carHistory[0].car?.licensePlate : "no
                        data"}}
                    </div>
                    }
                    }
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Contact:</h5>
                <ng-container *ngIf="(loading$ | async) else contactDetails">
                    <div class="spinner-border" role="status">
                    </div>
                </ng-container>
                <ng-template #contactDetails>
                    @if(contact){

                    <div class="card-text ms-3">
                        <b>Name:</b> {{contact.name}}
                    </div>
                    <div class="card-text ms-3">
                        <b>Surname:</b> {{contact.surname}}
                    </div>
                    <div class="card-text ms-3">
                        <b>Phone:</b> {{contact.phone}}
                    </div>
                    }
                </ng-template>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary btn-sm mb-3" (click)="open(addStatus)">
    New Status
</button>
<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">date</th>
                    <th scope="col">status</th>
                    <th scope="col">note</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="(loading$ | async) else tableData">
                    <div class="spinner-border" role="status">
                    </div>
                </ng-container>
                <ng-template #tableData>
                    @for (ch of carHistory$ | async; track ch.id) {
                    <tr>
                        <td appMarkCanceledCarStatusDirective
                            [isCanceled]="ch.statusIsCanceled ? ch.statusIsCanceled : false">{{ch.dateOfStatusChange
                            | date}}</td>
                        <td appMarkCanceledCarStatusDirective
                            [isCanceled]="ch.statusIsCanceled ? ch.statusIsCanceled : false">{{
                            getCarStatusLabel(ch.carStatus)}}</td>
                        <td>{{ch.note}}</td>
                        <td>
                            @if(!ch.statusIsCanceled){
                            <span role="button" class="badge bg-danger"
                                (click)="openReasonToCancel(reasonToCancel, ch.id)">X</span>
                            }
                        </td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="3" style="text-align: center">No entries found</td>
                    </tr>
                    }
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
<ng-template #addStatus let-modal>
    <div class="modal-body">
        <app-car-status-edit [carId]="carId" (closeModal)="closeModal($event)" />
    </div>
</ng-template>
<ng-template #reasonToCancel let-modal>

    <div class="card">
        <div class="card-body">
            <div class="card-title">
                The car service history can not be deleted. It can only be disabled.
            </div>
            <form [formGroup]="reasonToCancelForm" (ngSubmit)="onDelete()">
                <div class="mb-3">
                    <label for="name" class="form-label">Reason To Cancel</label>
                    <input type="text" class="form-control" id="reasonToCancel" placeholder="Reason To Cancel"
                        formControlName="reasonToCancel">
                </div>
                <button type="submit" class="btn btn-primary btn-sm me-2"
                    [disabled]="!reasonToCancelForm.valid">Save</button>
                <a class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</a>
            </form>
        </div>
    </div>
</ng-template>