<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th scope="col">brand model year</th>
                <th scope="col">arrived</th>
                <th scope="col">complexity</th>
                <th scope="col">duration(h)</th>
                <th scope="col">work to be done</th>
                <th scope="col">contact</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="(loading$ | async) else tableData">
                <div class="spinner-border" role="status">
                </div>
            </ng-container>
            <ng-template #tableData>
                @for (cas of carsAtService$ | async; track cas.id) {
                <tr role="button" [routerLink]="['/carhistory', cas.car.id]" title="Go to the car service history">
                    <td>
                        {{cas.car.brandModelYear}}
                    </td>
                    <td>{{cas.dateOfArrival | date}}</td>
                    <td>{{getWorkComplexityLabel(cas.estimatedComplexity)}}</td>
                    <td>{{cas.estimatedDurationInHours}}</td>
                    <td>{{cas.workNeedToBeDone}}</td>
                    <td>{{cas.contactPerson.name}}</td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="6" style="text-align: center">No entries found</td>
                </tr>
                }
            </ng-template>
        </tbody>
    </table>
</div>