<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="(loading$ | async) else tableData">
            <div class="spinner-border" role="status">
            </div>
        </ng-container>
        <ng-template #tableData>
            @for (c of contacts$ | async; track c.id) {
            @if (contactPickMode) {
            <tr role="button" (click)="pickContact(c)">
                <td>
                    {{ c.name }}
                </td>
                <td>{{ c.surname }}</td>
                <td>{{ c.phone }}</td>
            </tr>
            }
            @else {
            <tr>
                <td role="button" [routerLink]="['/contact', c.id]">
                    {{ c.name }}
                </td>
                <td role="button" [routerLink]="['/contact', c.id]">{{ c.surname }}</td>
                <td role="button" [routerLink]="['/contact', c.id]">{{ c.phone }}</td>
                <td><span role="button" class="badge bg-danger" (click)="deleteContact(c.id)"
                        ngbTooltip="Delete contact">X</span></td>
            </tr>
            }
            } @empty {
            <tr>
                <td colspan="3" style="text-align: center">No entries found</td>
            </tr>
            }
        </ng-template>
    </tbody>
</table>