<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Car at service</h1>
</div>
<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="card mb-3">
                <div class=" card-body">
                    <div class="mb-2 fw-bold">Car:</div>
                    <button type="button" class="btn btn-primary btn-sm me-2" (click)="open(carPick)">Find
                        existing</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="open(newCar)">Insert a new
                        one</button>

                    @if(selectedCar){

                    <div class="card mt-3">
                        <div class=" card-body">
                            <div class="fw-bold">Brand Model Year:</div>
                            <div class="mb-2">{{selectedCar.brandModelYear}}</div>
                            <div class="fw-bold">License Plate:</div>
                            <div class="mb-2">{{selectedCar.licensePlate}}</div>
                            <div class="fw-bold">Vehicle Id Number:</div>
                            <div>{{selectedCar.vehicleIdNumber}}</div>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div class="card mb-3">
                <div class="card mb-3" class="card-body">
                    <div class="mb-2 fw-bold">Contact person:</div>
                    <button type="button" class="btn btn-primary btn-sm me-2" (click)="open(personPick)">Find
                        existing</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="open(newPerson)">Insert a new
                        one</button>

                    @if(selectedContact){

                    <div class="card mt-3">
                        <div class=" card-body">
                            <div class="fw-bold">Name:</div>
                            <div class="mb-2">{{selectedContact.name}}</div>
                            <div class="fw-bold">Surname:</div>
                            <div class="mb-2">{{selectedContact.surname}}</div>
                            <div class="fw-bold">Phone:</div>
                            <div>{{selectedContact.phone}}</div>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div class="mb-3">
                <label for="workNeedToBeDone" class="form-label">work Need To Be Done</label>
                <input type="text" class="form-control" id="workNeedToBeDone" placeholder="work Need To Be Done"
                    formControlName="workNeedToBeDone">
            </div>
            <div class="mb-3">
                <label for="estimatedDurationInHours" class="form-label">Estimated duration in hours</label>
                <input type="number" class="form-control" id="estimatedDurationInHours"
                    placeholder="Estimated duration in hours" formControlName="estimatedDurationInHours">
            </div>
            <div class="mb-3">
                <label for="estimatedComplexity" class="form-label">Estimated complexity</label>
                <select class="form-select" id="estimatedComplexity" formControlName="estimatedComplexity">
                    <option *ngFor="let wc of workComplexities" [value]="wc">
                        {{getWorkComplexityLabel(wc)}}
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!formIsValid()">Save</button>
        </form>
    </div>
</div>

<ng-template #personPick let-modal>
    <div class="modal-body">
        <app-contacts-table [contactPickMode]=true (selectContact)="selectContact($event)" />
    </div>
</ng-template>

<ng-template #newPerson let-modal>
    <div class="modal-body">
        <app-contact-edit [formOpenedInModal]=true (closeContactModal)="closeContactModal($event)" />
    </div>
</ng-template>


<ng-template #carPick let-modal>
    <div class="modal-body">
        <app-cars-table [carPickMode]=true (selectCar)="selectCar($event)" />
    </div>
</ng-template>

<ng-template #newCar let-modal>
    <div class="modal-body">
        <app-car-edit [formOpenedInModal]=true (closeCarModal)="closeCarModal($event)" />
    </div>
</ng-template>