<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Car service history</h1>
</div>
<div class="row row-cols-md-2">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Car:</h5>
                @defer (when !!(carHistory$ | async)?.length) {
                @if(carHistory$ | async; as carHistory){

                @if(carHistory.length>0){

                <div class="card-text ms-3">
                    <b>Brand-Model-Year:</b> {{carHistory[0].car?.brandModelYear ? carHistory[0].car?.brandModelYear
                    : "no data"}}
                </div>
                <div class="card-text ms-3">
                    <b>Vehicle Id Number:</b> {{carHistory[0].car?.vehicleIdNumber ?
                    carHistory[0].car?.vehicleIdNumber : "no data"}}
                </div>
                <div class="card-text ms-3">
                    <b>Licence Plate:</b> {{carHistory[0].car?.licensePlate ? carHistory[0].car?.licensePlate : "no
                    data"}}
                </div>
                }
                }
                }@placeholder {
                <div class="spinner-border" role="status">
                </div>
                }
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Contact:</h5>
                @defer (when !!(carAtService$ | async)?.contactPerson) {
                @if(carAtService$ | async; as cas){

                <div class="card-text ms-3">
                    <b>Name:</b> {{cas.contactPerson?.name}}
                </div>
                <div class="card-text ms-3">
                    <b>Surname:</b> {{cas.contactPerson?.surname}}
                </div>
                <div class="card-text ms-3">
                    <b>Phone:</b> {{cas.contactPerson?.phone}}
                </div>
                }}@placeholder {
                <div class="spinner-border" role="status">
                </div>
                }
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary btn-sm mb-3" (click)="open(addStatus)">
    New Status
</button>
<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Note</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @defer (when !!(carHistory$ | async)?.length) {
                @for (ch of carHistory$ | async; track ch.id) {
                <tr>
                    <td appMarkCanceledCarStatusDirective
                        [isCanceled]="ch.statusIsCanceled ? ch.statusIsCanceled : false">{{ch.dateOfStatusChange
                        | date}}</td>
                    <td appMarkCanceledCarStatusDirective
                        [isCanceled]="ch.statusIsCanceled ? ch.statusIsCanceled : false">{{
                        getCarStatusLabel(ch.carStatus)}}</td>
                    <td>{{ch.note}}</td>
                    <td>
                        @if(!ch.statusIsCanceled){
                        <span role="button" class="badge bg-danger" (click)="openReasonToCancel(reasonToCancel, ch.id)"
                            ngbTooltip="Cancel entry">X</span>
                        }
                    </td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="3" style="text-align: center">No entries found</td>
                </tr>
                }
                }@placeholder {
                <div class="spinner-border" role="status">
                </div>
                }
            </tbody>
        </table>
    </div>
</div>
<ng-template #addStatus let-modal>
    <div class="modal-body">
        <app-car-status-edit [carId]="carId" (closeModal)="closeModal()" />
    </div>
</ng-template>
<ng-template #reasonToCancel let-modal>

    <div class="card">
        <div class="card-body">
            <div class="card-title text-danger">
                <ngb-alert [dismissible]="false" class="d-block" type="warning">
                    The car service history can not be deleted. <br />It can only be disabled.
                </ngb-alert>
            </div>
            <form [formGroup]="reasonToCancelForm" (ngSubmit)="onDelete()">
                <div class="mb-3">
                    <label for="name" class="form-label">Reason To Cancel:</label>
                    <input type="text" class="form-control" id="reasonToCancel" placeholder="Reason To Cancel"
                        formControlName="reasonToCancel">
                </div>
                <button type="submit" class="btn btn-primary btn-sm me-2"
                    [disabled]="!reasonToCancelForm.valid">Save</button>
                <a class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</a>
            </form>
        </div>
    </div>
</ng-template>