<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th scope="col">Brand Model Year</th>
            <th scope="col">License Plate</th>
            <th scope="col">Vehicle Id Number</th>
            <th *ngIf="!carPickMode" scope="col"></th>
            <th *ngIf="!carPickMode" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @defer (when (carsLoaded$ | async)) {
        @for (c of cars$ | async; track c.id) {
        @if (carPickMode) {
        <tr role="button" (click)="pickCar(c)">
            <td>
                {{ c.brandModelYear }}
            </td>
            <td>{{ c.licensePlate }}</td>
            <td>{{ c.vehicleIdNumber }}</td>
        </tr>
        }
        @else {
        <tr>
            <td role="button" [routerLink]="['/car', c.id]">
                {{ c.brandModelYear }}
            </td>
            <td role="button" [routerLink]="['/car', c.id]">{{ c.licensePlate }}</td>
            <td role="button" [routerLink]="['/car', c.id]">{{ c.vehicleIdNumber }}</td>
            <td><span role="button" class="badge bg-info text-dark" [routerLink]="['/carhistory/', c.id]"
                    ngbTooltip="Car service history">H</span>
            </td>
            <td><span role="button" class="badge bg-danger" (click)="deleteCar(c.id??0)"
                    ngbTooltip="Delete car">X</span>
            </td>
        </tr>
        }
        } @empty {
        <tr>
            <td colspan="3" style="text-align: center">No entries found</td>
            <td></td>
            <td></td>
        </tr>
        }
        } @placeholder {
        <div class="spinner-border" role="status">
        </div>
        }
    </tbody>
</table>